.register-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-wrapper {
  background: #f2f3f7;
  padding: 30px;
  max-width: 500px;
  width: 100%;
}

.register-heading {
  position: relative;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  color: #656463;
}

.register-heading:before,
.register-heading:after {
  content: "";
  width: 33%;
  border-top: 2px solid #cfd0d4;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.register-heading:before {
  left: 0;
}

.register-heading:after {
  right: 0;
}

.register-text {
  margin: 10px 0 30px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-details,
#submit {
  margin-bottom: 15px;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
  border-radius: 2px;
  outline: none;
  border: 1px solid #cfd0d4;
}

.register-details:focus {
  border: 1px solid #50a851;
}

.register-details::placeholder {
  font-size: 13px;
  font-weight: 300;
}

.register-fullname {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.register-name {
  width: calc(50% - 10px);
}

.privacy-block {
  display: flex;
  margin-bottom: 15px;
}

.privacy-block .terms {
  color: #a6c3ad;
  margin: 0 5px;
  transition: all 0.3s ease-in-out;
}

.privacy-block .terms:hover {
  color: #50a851;
}

#policy {
  margin-right: 5px;
}

#submit {
  border: none;
  background: #50a851;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
