@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;900&family=Poppins:wght@100;300;400;600;700;900&display=swap');

::root {
  --h2-size: 40px;
  --Poppins: 'Poppins', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

@media screen and (min-width: 414px) {
  .container {
    position: relative;
    max-width: 100%;
  }
}
