@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&family=Poppins:wght@100;300;400;600;700;900&display=swap');

:root {
  --h2-size: 36px;
  --h3-size: 24px;
  --family-font: 'Montserrat', sans-serif;
  --font-medium: 500;
  --font-bold: 600;
  --poppins: 'Poppins', sans-serif;
  --main-color: #737373;
  --dark-color: #252b42;

  --title-space: 20px 0;
  --inline-block: inline-block;
}

body {
  font-family: var(--family-font);
  color: var(--main-color);
}

.container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  position: relative;
}

a {
  display: var(--inline-block);
  text-decoration: none;
}

@media screen and (min-width: 320px) {
  :root {
    --h2-size: 36px;
  }

  .hero {
    padding: 50px 0;
    text-align: center;
    background-color: rgb(250, 250, 250, 100%);
  }

  .hero-subtitle {
    font-size: 16px;
    font-weight: var(--font-bold);
  }
  .hero-title {
    font-size: var(--h2-size);
    margin: var(--title-space);
    color: var(--dark-color);
  }

  .hero-download-title {
    font-weight: var(--font-medium);
  }
}
