@media (max-width: 1200px) {
  .comp {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
  }

  .comp .genre-filter {
    display: flex;
    justify-content: space-evenly;
  }

  #year {
    width: 100%;
  }
}
