<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food App</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="container">
        <div class="logo">
          <img src="" alt="logo" />
        </div>
        <nav class="navigation">
          <ul>
            <li class="nav-link"><a href="#" class="nav-item">Home</a></li>
            <li class="nav-link"><a href="#" class="nav-item">Menu</a></li>
            <li class="nav-link"><a href="#" class="nav-item">Payment</a></li>
            <li class="nav-link"><a href="#" class="nav-item">Delivery</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
