* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 17px;
  color: #666564;
  font-weight: 400;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
